table{
	width:800px;
	height:800px;
	border:1px;
	border-collapse: collapse;
}

.inner{
	background-color: #fff;
	height: 50px;
	width: 50px;
}

.fill{
	background-color:#000;
}

td{
background-color: #ff5050;
}
